P { 
   font-size:10.0pt; 
   color:#000000; 
   background-color:Transparent; 
   font-family:Arial, sans-serif; 
   margin-top:5pt; 
   margin-bottom:5pt;  }
LI.kadov-P { 
            font-size:10.0pt; 
            color:#000000; 
            font-family:Arial, sans-serif;  }
H1 { 
    font-family:Arial; 
    font-size:12.0pt; 
    color:#000080; 
    margin-top:5pt; 
    margin-bottom:5pt; 
    font-weight:bold;  }
LI.kadov-H1 { 
             font-family:Arial; 
             font-size:12.0pt; 
             color:#000080;  }
H2 { 
    font-family:Arial; 
    color:#000080; 
    x-next-type:H2; 
    margin-top:2pt; 
    margin-bottom:2pt; 
    font-size:11pt; 
    font-weight:bold;  }
LI.kadov-H2 { 
             font-family:Arial; 
             color:#000080; 
             font-size:11pt;  }
H3 { 
    font-size:10.0pt; 
    background-color:transparent; 
    font-family:Arial, sans-serif; 
    color:#000080; 
    margin-top:13.5pt; 
    margin-bottom:4.5pt; 
    font-weight:bold;  }
LI.kadov-H3 { 
             font-size:10.0pt; 
             font-family:Arial, sans-serif; 
             color:#000080;  }
H6 { 
    font-family:Arial; 
    font-size:10.0pt; 
    background-color:#FFFFAA; 
    border-top:solid #000000 0.5pt; 
    border-bottom:solid #000000 0.5pt; 
    font-weight:bold;  }
LI.kadov-H6 { 
             font-family:Arial; 
             font-size:10.0pt;  }
P.Note { 
        border-top:solid #000000 0.5pt; 
        border-bottom:solid #000000 0.5pt; 
        border-top-style:none; 
        border-bottom-style:none; 
        border-top-width:0.5pt; 
        border-bottom-width:0.5pt; 
        background-color:#ccf1ff;  }
LI.kadov-P-CNote {  }
H4 { 
    font-family:Arial; 
    font-size:9.0pt; 
    color:#000080; 
    margin-top:2px; 
    margin-bottom:2px; 
    font-weight:bold;  }
LI.kadov-H4 { 
             font-family:Arial; 
             font-size:9.0pt; 
             color:#000080;  }
P.Example { 
           font-family:Courier New; 
           font-weight:bold; 
           font-size:10.0pt; 
           background-color:#c0c0c0; 
           color:#000000;  }
LI.kadov-P-CExample { 
                     font-family:Courier New; 
                     font-weight:bold; 
                     font-size:10.0pt; 
                     color:#000000;  }
BODY { 
      background-color:#ffffff;  }
A:visited { 
           color:#0000ff;  }
A:hover { 
         color:#ff0000;  }
H5 { 
    font-family:Arial; 
    font-size:8.0pt; 
    color:#0000ff; 
    margin-left:1; 
    margin-top:1; 
    margin-bottom:1; 
    font-weight:bold;  }
LI.kadov-H5 { 
             font-family:Arial; 
             font-size:8.0pt; 
             color:#0000ff;  }
P.Address { 
           color:#000000; 
           margin-top:1; 
           margin-bottom:1; 
           font-size:10.0pt; 
           font-style:normal; 
           font-family:Courier New;  }
LI.kadov-P-CAddress { 
                     color:#000000; 
                     font-size:10.0pt; 
                     font-style:normal; 
                     font-family:Courier New;  }
A.expandspot { 
              cursor:hand; 
              color:#354E32; 
              font-style:normal;  }
SPAN.expandtext { 
                 color:#ff0000; 
                 font-weight:normal; 
                 font-style:italic;  }
A.dropspot { 
            cursor:hand; 
            color:#0000ff; 
            font-size:8.0pt; 
            font-weight:bold; 
            font-style:normal; 
            font-family:Arial;  }
P.Listing { 
           color:#000000; 
           font-size:x-small; 
           font-family:monospace; 
           list-style-type:upper-alpha;  }
LI.kadov-P-CListing { 
                     color:#000000; 
                     font-size:x-small; 
                     font-family:monospace; 
                     list-style-type:upper-alpha;  }
A.glossterm { 
             cursor:hand; 
             color:#008040; 
             font-size:10pt; 
             font-weight:normal; 
             font-style:normal;  }
SPAN.glosstext { 
                color:#0000ff; 
                font-weight:normal; 
                font-style:italic;  }
P.DiagHelp { 
            font-size:11pt; 
            font-weight:bold; 
            font-style:normal; 
            border-left-style:none; 
            border-right-style:none; 
            border-top-style:Solid; 
            border-bottom-style:Solid; 
            background-color:#00e5ff; 
            border-top-width:1px; 
            border-bottom-width:1px; 
            border-top-color:#000000; 
            border-bottom-color:#000000; 
            margin-top:18.5pt;  }
LI.kadov-P-CDiagHelp { 
                      font-size:11pt; 
                      font-weight:bold; 
                      font-style:normal;  }
P.AdvOrg { 
          font-style:normal; 
          list-style:square; 
          color:#000080; 
          font-weight:600; 
          x-text-underline:Off; 
          font-size:10pt; 
          margin-left:1; 
          text-decoration:none;  }
LI.kadov-P-CAdvOrg { 
                    font-style:normal; 
                    list-style:square; 
                    color:#000080; 
                    font-weight:600; 
                    x-text-underline:Off; 
                    font-size:10pt; 
                    text-decoration:none;  }
H6.HowTo { 
          x-next-type:P;  }
LI.kadov-H6-CHowTo {  }
H6.HowToEnd { 
             x-next-type:P; 
             font-size:3pt; 
             margin-bottom:23pt;  }
LI.kadov-H6-CHowToEnd { 
                       font-size:3pt;  }
P.DiagHelpEnd { 
               x-next-type:P; 
               font-size:3pt; 
               border-top-style:Solid; 
               border-bottom-style:Solid; 
               border-top-color:#000000; 
               border-bottom-color:#000000; 
               border-top-width:1px; 
               border-bottom-width:1px; 
               background-color:#00e5ff; 
               margin-bottom:23pt;  }
LI.kadov-P-CDiagHelpEnd { 
                         font-size:3pt;  }
P.Other { 
         x-next-type:P; 
         background-color:#d1d1d1; 
         text-indent:0.25in; 
         margin-left:1; 
         vertical-align:Baseline; 
         border-top-style:Solid; 
         border-top-width:1px; 
         border-bottom-style:Solid; 
         border-bottom-width:1px; 
         x-text-overline:Off; 
         margin-top:18.5pt; 
         margin-bottom:27.5pt; 
         font-weight:600; 
         text-decoration:none;  }
LI.kadov-P-COther { 
                   text-indent:0.25in; 
                   x-text-overline:Off; 
                   font-weight:600; 
                   text-decoration:none;  }
P.DiagObjects { 
               margin-left:10pt;  }
LI.kadov-P-CDiagObjects {  }
P.Sub2 { 
        font-size:11pt; 
        font-weight:bold; 
        font-style:normal; 
        color:#000080; 
        margin-top:23pt;  }
LI.kadov-P-CSub2 { 
                  font-size:11pt; 
                  font-weight:bold; 
                  font-style:normal; 
                  color:#000080;  }
ol ol { 
       margin-top:5px;  }
ol ul { 
       margin-top:5px;  }
ul ul { 
       margin-top:5px;  }
ul ol { 
       margin-top:5px;  }
